* {
    font-family: 'Anta';
}

body {
  margin: 0;
  color: white;
  background: #f97316;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER LAYOUT */
.header {
  background: #222;
  color: white;
  padding: 12px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  background: #222;
  color: white;
  padding: 12px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.logo {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* PAGE CONTENT */
.page {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start; 
}

.section_1 {
  background: #222;
  color: white;
  border-radius: 20px;
  padding: 20px;
  width: 420px; 
}

.section_2 {
  background: #222;
  color: white;
  border-radius: 20px;
  padding: 20px;
  flex: 1;
  min-width: 300px;
}

.map {
  width: 100%;
  height: 500px;
  margin-top: 16px;
  border-radius: 20px;
  overflow: hidden;
}

form {
  margin: 0 auto;
  width:1000px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  max-width: 960px;
  padding: 20px;
  border-radius: 6px;
  border: none;
  color: #222;
}

button {
  padding: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
